.todo-input{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    
}

.card{
    flex: 0 0 calc(33.33% - 20%);
    max-width: calc(33.33% - 20%);
    width: 800%;
    background-color: rgb(193, 243, 226);
    padding: 20px;
    margin-bottom: 20px;
    justify-content: center;
    flex-direction: column;align-items: center;
}

.primaryBtn{
background-color: rgb(73, 207, 162);
}

.btn-edit{
    background-color: rgb(73, 207, 162);
    width: 100px;
    
}

.remove{
    background-color: rgb(238, 209, 155);
    padding: 10px;
    width: 100px;
    border-bottom: 50px;
}

.drop{
    padding: 20px;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
}